[Unit]
Description=Run unmask aggregate hourly
Documentation=https://unmask.sh

[Timer]
# 7 minutes past every hour (= shifted from :00 because that's congested with other cron jobs). Also runs once at boot.
OnCalendar=*-*-* *:07:00
Persistent=true
RandomizedDelaySec=60
Unit=unmask-aggregate.service

[Install]
WantedBy=timers.target
